.label_class {
    font-weight: bold;
    margin-top: 8px;
}
.err {
    background-color: #FF9966 !important;
}
.completed {
    background-color: #56BAEC !important;
}
.failed {
    background-color: #FFAEAE !important;
}
.assigned {
    background-color: #B4D8E7 !important;
}
.running {
    background-color: #B0E57C !important;
}
.queued {
    background-color: #FFEC94 !important;
}
